.new-card {
  background:var(--black-700);

  padding:0.5rem;
  width: 300px;
  border-radius: 8px 8px 8px;

  h2 {
    color:var(--white);
    text-align: center;
    background:var(--black-500);
    padding: 0.5rem;
    border-radius: 8px 8px 8px;
    margin-bottom: 1rem;
  }

}