* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #545454;
}

#container {
  
  margin: 20px auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 250px;
}
.logo img {
  width: 100%;
}

.output-value{
  font-size: 1.25rem;
}

footer {
  margin-top: 6rem;
  text-align: center;
  color: white;
}
footer a {
  color: hsl(220, 73%, 60%);
  text-decoration: none;
  transition: 0.5s;
}
footer a:hover {
  color: hsl(220, 73%, 54%);
}

@media(max-width: 600px) {
  #container {
    margin-top: 10px;
    gap: 1rem;
  }
  .select-brand select,
  .select-model select,
  .select-year select,
  .output-value {
    font-size: 1rem;
  }

}