<mat-card class="card-container">
  
    <form >
      <mat-card-title class="card-title">
        <input type="text"
          name="titulo"
          [(ngModel)]="card.titulo"
          placeholder="Informe um título"
          >
      </mat-card-title>
      <mat-card-content class="card-content">
       <textarea 
        [(ngModel)] ="card.conteudo" 
        name="conteudo"
        cols="30"
        rows="5"
        placeholder="Informe uma descrição"
        >
      </textarea>
      </mat-card-content>
    </form>
  <mat-card-actions class="card-buttons">
    <button mat-button (click)="createNewCard()">
      Adicionar
    </button>
  </mat-card-actions>
</mat-card>
